name: Generate Snake Animation
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Generate snake animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Samprit74
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=%23FF6C37&color_dots=%230d1117,%23003820,%23006d32,%2326a641,%2339d353
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=%23FF6C37&color_dots=%230d1117,%23003820,%23006d32,%2326a641,%2339d353
      
      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          force_orphan: true
